:global(.ant-table-tbody  tr  td) {
  padding: 0 16px !important;
  height: 44px;
}
:global(.ant-table-thead  tr  th) {
  padding: 0 16px !important;
  height: 44px;
}
:global(.ant-pagination-item-active) {
  border-color: #52C9C2 !important;
}
:global(.ant-pagination-item:hover) {
  border-color: #52C9C2 !important;
  color: #52C9C2 !important;
}
:global(.ant-pagination-item:hover a) {
  color: #52C9C2 !important;
}
:global(.ant-pagination-item-active a){
  color: #52C9C2 !important;
}

.paginationStyle{
  margin: 24px 24px;
  display: flex;
  justify-content: flex-end;
}
.tableContentStyle{
  margin: 0 32px;
}

.createButton{
  margin: 0 32px 24px;
  background-color: #52C9C2;
  font-size: 14px;
  width: 70px;
  height: 32px;
  border-color: #52C9C2;
}
.createButton:hover{
  background-color: #52C9C2;
  border-color: #52C9C2;
}
.createButton:focus{
  background-color: #52C9C2;
  border-color: #52C9C2;
}

.cancleButton{
  margin: 0;
  background-color: #fff;
  font-size: 14px;
  width: 70px;
  height: 32px;
  border: 1px solid #DCDDE0;
  color: #000;
}
.cancleButton:hover{
  background-color: #fff;
  color: #000;
  border: 1px solid #DCDDE0;
}
.cancleButton:focus {
  background-color: #fff;
  border: 1px solid #DCDDE0;
  color: #000;
}

.submitButton{
  margin: 0 10px;
  background-color: #52C9C2;
  font-size: 14px;
  width: 70px;
  height: 32px;
  border-color: #52C9C2;
}
.submitButton:hover{
  background-color: #52C9C2;
  border-color: #52C9C2;
}
.submitButton:focus{
  background-color: #52C9C2;
  border-color: #52C9C2;
}


