.paginationStyle{
  margin: 24px 0 !important;
  display: flex;
  justify-content: flex-end;
}
.tableContentStyle{
  margin: 0;
}

:global(.ant-table-tbody  tr  td) {
  padding: 0 16px !important;
  height: 44px;
}
:global(.ant-table-thead  tr  th) {
  padding: 0 16px !important;
  height: 44px;
}
:global(.ant-pagination-item-active) {
  border-color: #52C9C2 !important;
}
:global(.ant-pagination-item:hover) {
  border-color: #52C9C2 !important;
  color: #52C9C2 !important;
}
:global(.ant-pagination-item:hover a) {
  color: #52C9C2 !important;
}
:global(.ant-pagination-item-active a){
  color: #52C9C2 !important;
}

:global(.ant-pagination-prev:hover) {
  border-color: #52C9C2 !important;
}
:global(.ant-pagination-item-link:hover) {
  border-color: #52C9C2 !important;
  color: #52C9C2 !important;
}
:global(.ant-pagination-prev:focus .ant-pagination-item-link) {
  border-color: #52C9C2 !important;
  color: #52C9C2 !important;
}
:global(.ant-pagination-next:focus .ant-pagination-item-link) {
  border-color: #52C9C2 !important;
  color: #52C9C2 !important;
}
:global(.ant-select-selection--single:hover){
  border-color: #52C9C2 !important;
}
:global(.ant-select-selection:focus){
  border-color: #52C9C2 !important;
  box-shadow: none !important;
}
:global(.ant-select-selection:active){
  border-color: #52C9C2 !important;
  box-shadow: none !important;
}
:global(.ant-select-open .ant-select-selection){
  border-color: #52C9C2 !important;
  box-shadow: none !important;
}

:global(.ant-popover-inner-content){
  padding: 24px 35px;
  width: 356px;
  height: 136px;
}

:global(.ant-popover-message) {
  font-size: 14px;
  color: #262626;
  width: 170px;
}
:global(.ant-popover-buttons) {
  text-align: right;
  margin-bottom: 4px;
  margin-top: 8px;
}
:global(.ant-popover-buttons button) {
    width: 70px;
    height: 32px;
}
:global(.ant-popover-buttons .ant-btn-primary) {
  background-color: #52C9C2;
  border-color: #52C9C2;
}

:global(.ant-popover-buttons .ant-btn-primary:hover) {
  background-color: #52C9C2 !important;
  border-color: #52C9C2!important;
  color: #fff!important;
}
:global(.ant-popover-buttons .ant-btn-primary:focus) {
  background-color: #52C9C2;
  border-color: #52C9C2;
  color: #fff!important;
}

:global(.ant-popover-buttons .ant-btn:hover) {
  background-color: #fff;
  border: 1px solid #DCDDE0;
  color: rgba(0, 0, 0, 0.65);
}
:global(.ant-popover-buttons .ant-btn:focus) {
  background-color: #fff;
  border: 1px solid #DCDDE0;
  color: rgba(0, 0, 0, 0.65);
}

:global(.ant-input:hover){
  border: 1px solid #52C9C2;
  box-shadow: 0 0 0 2px rgba(82,201,194, 0.2);
}
:global(.ant-input:focus){
  border: 1px solid #52C9C2;
  box-shadow: 0 0 0 2px rgba(82,201,194, 0.2);
}
:global(.ant-cascader-picker:focus .ant-cascader-input) {
  border: 1px solid #52C9C2;
  box-shadow: 0 0 0 2px rgba(82,201,194, 0.2);
}

.createButton{
  margin: 0;
  background-color: #52C9C2;
  font-size: 14px;
  width: 70px;
  height: 32px;
  border-color: #52C9C2;
}
.createButton:hover{
  background-color: #52C9C2;
  border-color: #52C9C2;
}
.createButton:focus{
  background-color: #52C9C2;
  border-color: #52C9C2;
}

.searchButton{
  margin: 0 10px 24px 0;
  background-color: #52C9C2;
  font-size: 14px;
  width: 70px;
  height: 32px;
  border-color: #52C9C2;
}
.searchButton:hover{
  background-color: #52C9C2;
  border-color: #52C9C2;
}
.searchButton:focus{
  background-color: #52C9C2;
  border-color: #52C9C2;
}
.addQualityButton{
  margin: 0 10px 24px 0;
  background-color: #46A3EF;
  font-size: 14px;
  width: 80px;
  height: 32px;
  border-color: #46A3EF;
}
.addQualityButton:hover{
  background-color: #46A3EF;
  border-color: #46A3EF;
}
.addQualityButton:focus{
  background-color: #46A3EF;
  border-color: #46A3EF;
}
.deleteQualityButton{
  margin: 0 ;
  background-color: #F29F38;
  font-size: 14px;
  width: 80px;
  height: 32px;
  border-color: #F29F38;
}
.deleteQualityButton:hover{
  background-color: #F29F38;
  border-color: #F29F38;
}
.deleteQualityButton:focus{
  background-color: #F29F38;
  border-color: #F29F38;
}

.cancleButton{
  margin: 0;
  background-color: #fff;
  font-size: 14px;
  width: 70px;
  height: 32px;
  border: 1px solid #DCDDE0;
  color: #000;
}
.cancleButton:hover{
  background-color: #fff;
  color: #000;
  border: 1px solid #DCDDE0;
}
.cancleButton:focus {
  background-color: #fff;
  border: 1px solid #DCDDE0;
  color: #000;
}

.submitButton{
  margin: 0 10px;
  background-color: #52C9C2;
  font-size: 14px;
  width: 70px;
  height: 32px;
  border-color: #52C9C2;
}
.submitButton:hover{
  background-color: #52C9C2;
  border-color: #52C9C2;
}
.submitButton:focus{
  background-color: #52C9C2;
  border-color: #52C9C2;
}
.totalNum{
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  color: #000;
}
.leftInput{
  display: flex;
  justify-content: flex-start;
}
.centerInput{
  display: flex;
  justify-content: center;
}
.rightDoubleButton{
  display: flex;
  justify-content: flex-end;
}

:global(.ant-form-item-required:before) {
  content: " " !important;
  color: #fff;
}


