p{
  margin: 0;
  padding: 0;
}
.modelList{
  border: 1px solid #DCDDE0;
  border-radius: 4px;
  margin-bottom: 20px;
}
.title{
  width: 100%;
  height: 38px;
  background-color: #f6f7fa;
  font-size: 14px;
  color: #000000;
  padding-left: 17px;
}
.content{
  padding:13px 17px 20px;
}
.contentTxt{
  margin-top: -6px;
}
.contentTxt:not(:first-of-type):before{
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #EFF0F4;
}
.littleTitle{
  font-size: 14px;
  color: #000;
  margin-bottom: -5px;
}
.littleTitle:before{
  content: '';
  display: inline-block;
  width: 2px;
  height: 12px;
  margin-right: 6px;
  background: #52C9C2;
}
.checkBox, .checkboxGroup{
  font-size: 14px;
  color: #000;
}
:global(.ant-checkbox-group-item),.checkBox,.checkboxGroup{
margin-right: 130px;
}
:global(.ant-checkbox-checked .ant-checkbox-inner),:global(.ant-checkbox-indeterminate .ant-checkbox-inner){
  background-color: #52c9c2!important;
  border: #52c9c2!important;
}
.formCls :global(.ant-form-item-label label){
  display: inline-block;
  width: 100%;
  text-align: left;
}
