.container {
  height: 100%;
  background: #fff;
  text-align: center;
  .userDescription {
    padding-top: 100px;
    font-weight: 800;
    h3 {
      font-size: 22px;
      color: #52c9c2;
    }
    p {
      font-size: 18px;
    }
  }
  .indexImg {
    width: 500px;
    margin-top: 30px;
  }
}
