.groupModal{
  width:110%;
  height:86%;
  padding-top: 25%;
  overflow: hidden;

}
.gwrapRoupModal{
  background:rgba(0,0,0,0.6)
}
.modalHead{
  position: relative;
  top:-0.1rem;
  left:0;
  height:1.1rem;
}
.modalHead>span:nth-last-of-type(1){
  position: absolute;
  bottom:0;
  left:0;
  color:#333333;
  font-size:0.26rem;
}
.dialogCloseBtn{
  position: absolute;
  top:0;
  right:0;
  width:0.42rem;
  height: 0.42rem;
  color:#DADADA;
  font-size:0.26rem;
}
