.modelTitle {
  font-size: 18px;
  color: #000;
}
p {
  margin: 0;
  padding: 0;
}
.formTitle {
  color: #000;
  font-size: 14px;
  margin-bottom: 18px;
}
.tableTitle {
  color: #000;
  font-size: 14px;
}
.txt {
  font-size: 14px;
  color: #262626;
}
.formCls {
  border: 1px solid #dcdde0;
  border-radius: 2px;
  width: 800px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
  padding-left: 13px;
}
.content {
  width: 590px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;
}
/* 一下为绩效时间管理 */
.performanceContainer {
  margin-top: 30px;
}
.splitLine {
  background: #ebecef;
}
.performanceTitle {
  margin-top: 30px;
  font-size: 18px;
  color: #000;
}

.performanceTable {
  margin-top: 17px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.titleTxt {
  width: 650px;
}
.titleEdit {
  margin: 0 10px 0 55px;
}
:global(.ant-popover-message) {
  width: 190px;
}
