
.normal {
    background: #FFFFFF;
    height: 100%;
    widows: 100%;
}
.heightdiv{
    height: 2.6rem;
    width: 7.5rem;
}
.divimg{
    width: 7.5rem;
    display: flex;
}
.imgcss{
    width: 2.54rem;
    height: 2.46rem;
    margin:  0 auto;
}
.wordstyle {
    margin: 0.98rem auto 0 auto;
    width: 6.08rem;
    height: 3.50rem; 
}
.wordstyle1{
    height: 0.8rem;
    text-align: center;
    line-height: 0.32rem;
    font-size: 0.32rem;
    color: #333333;
    margin: 0 auto;
    font-family: PingFangSC-Regular;
}
.wordstyle2{
    height: 0.5rem;
    line-height: 0.28rem;
    text-align: center;
    font-size: 0.28rem;
    color: #999999;
    margin: 0rem auto;
    font-family: PingFangSC-Regular;
}
.wordstyle3{
    height: 0.5rem;
    text-align: center;
    line-height: 0.28rem;
    font-size: 0.28rem;
    color: #999999;
    margin:  0 auto;
    font-family: PingFangSC-Regular;
}
