.rctable {
    font-size: 0.12rem;
    color: #666;
    transition: opacity 0.3s ease;
    position: relative;
    line-height: 1.5;
    overflow: hidden;
  }
  .rctable .rctable-scroll {
    overflow: auto;
  }
  .rctable .rctable-scroll table {
    width: auto;
    min-width: 100%;
  }
  .rctable .rctable-header {
    overflow: hidden;
    background: #f7f7f7;
  }
  .rctable-fixed-header .rctable-body {
    background: #fff;
    position: relative;
  }
  .rctable-fixed-header .rctable-body-inner {
    height: 100%;
    overflow: scroll;
  }
  .rctable-fixed-header .rctable-scroll .rctable-header {
    overflow-x: scroll;
    padding-bottom: 0.20rem;
    margin-bottom: -0.20rem;
    overflow-y: scroll;
    box-sizing: border-box;
  }
  .rctable .rctable-title {
    padding: 0.16rem 0.08rem;
    border-top: 1px solid #e9e9e9;
  }
  .rctable .rctable-content {
    position: relative;
  }
  .rctable .rctable-footer {
    padding: 0.16rem 0.08rem;
    border-bottom: 1px solid #e9e9e9;
  }
  .rctable .rctable-placeholder {
    padding: 0.16rem 0.08rem;
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
    position: relative;
  }
  .rctable .rctable-placeholder-fixed-columns {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: transparent;
    pointer-events: none;
  }
  .rctable table {
    width: 6.61rem;
    height: 0.7rem;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
  }
  .rctable th {
    font-size:0.2rem;
    background: rgba(82,201,194,0.20);
    font-weight: bold;
    transition: background .3s ease;
    font-family: PingFangSC-Regular;
    color: #666666;
    line-height: 0.28rem;
    height: 0.7rem;
    
  }
  .rctable th:first-child{
    padding-left: 0.2rem;
  }
  .rctable td {
    /* border-bottom: 1px solid #e9e9e9; */
    font-size: 0.22rem;
    line-height: 0.3rem;
    font-family: PingFangSC-Regular;
  }
  .rctable td:empty:after {
    content: '.';
    visibility: hidden;
  }
  .rctable tr {
    transition: all .3s ease;
    height: 0.7rem;
    
    color: #666;
    
    font-family: PingFangSC-Regular;
    /* Serif */
  }
  .rctable  tr:nth-child(even) {
    background: #f8f8f8;
  }
  .rctable  tr:nth-child(odd){
    background: #fff;
  }
  /* .rctable tr:hover {
    background: #eaf8fe;
  } */
  .rctable tr.rctable-row-hover {
    background: #eaf8fe;
  }
  .rctable th,
  .rctable td {
    /* padding: 16px 8px; */
    text-align: center;
    white-space: nowrap;
  }
  .rctable-expand-icon-col {
    width: 0.34rem;
  }
  .rctable-row-expand-icon,
  .rctable-expanded-row-expand-icon {
    cursor: pointer;
    display: inline-block;
    width: 0.16rem;
    height: 0.16rem;
    text-align: center;
    line-height: 0.16rem;
    border: 0.01rem solid #e9e9e9;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: #fff;
  }
  .rctable-row-spaced,
  .rctable-expanded-row-spaced {
    visibility: hidden;
  }
  .rctable-row-spaced:after,
  .rctable-expanded-row-spaced:after {
    content: '.';
  }
  .rctable-row-expanded:after,
  .rctable-expanded-row-expanded:after {
    content: '-';
  }
  .rctable-row-collapsed:after,
  .rctable-expanded-row-collapsed:after {
    content: '+';
  }
  tr.rctable-expanded-row {
    background: #f7f7f7;
  }
  tr.rctable-expanded-row:hover {
    background: #f7f7f7;
  }
  .rctable-column-hidden {
    display: none;
  }
  .rctable-prev-columns-page,
  .rctable-next-columns-page {
    cursor: pointer;
    color: #666;
    z-index: 1;
  }
  .rctable-prev-columns-page:hover,
  .rctable-next-columns-page:hover {
    color: #2db7f5;
  }
  .rctable-prev-columns-page-disabled,
  .rctable-next-columns-page-disabled {
    cursor: not-allowed;
    color: #999;
  }
  .rctable-prev-columns-page-disabled:hover,
  .rctable-next-columns-page-disabled:hover {
    color: #999;
  }
  .rctable-prev-columns-page {
    margin-right: 0.08rem;
  }
  .rctable-prev-columns-page:before {
    content: '<';
  }
  .rctable-next-columns-page {
    float: right;
  }
  .rctable-next-columns-page:before {
    content: '>';
  }
  .rctable-fixed-left,
  .rctable-fixed-right {
    position: absolute;
    top: 0;
    overflow: hidden;
  }
  .rctable-fixed-left table,
  .rctable-fixed-right table {
    width: auto;
    background: #fff;
  }
  .rctable-fixed-left {
    left: 0;
    box-shadow: 0.04rem 0 0.04rem rgba(100, 100, 100, 0.1);
  }
  .rctable-fixed-left .rctable-body-inner {
    margin-right: -0.2rem;
    padding-right: 0.2rem;
  }
  .rctable-fixed-header .rctable-fixed-left .rctable-body-inner {
    padding-right: 0;
  }
  .rctable-fixed-right {
    right: 0;
    box-shadow: -0.04rem 0 0.04rem rgba(100, 100, 100, 0.1);
  }
  .rctable-fixed-right .rctable-expanded-row {
    color: transparent;
    pointer-events: none;
  }
  .rctable.rctable-scroll-position-left .rctable-fixed-left {
    box-shadow: none;
  }
  .rctable.rctable-scroll-position-right .rctable-fixed-right {
    box-shadow: none;
  }
  
  .rctable.bordered table {
    border-collapse: collapse;
  }
  .rctable.bordered th,
  .rctable.bordered td {
    border: 0rem;
  }
  

  .tabletitlediv{
    margin-left: 0.24rem;
    margin-bottom: 0.33rem;
  }

  .tabletitle{
    line-height: 0.33rem;
    font-size: 0.24rem;
    color: #444348;
  }
  .warmtoast{
    background: #fff;
    width: 6.62rem;
    margin-left: 0.24rem;
    margin-top: 0.24rem;
    margin-bottom: 0.37rem;
    height: 1.16rem;
    display: block;
  }
  .warmtoastnone{
    background: #fff;
    width: 6.62rem;
    margin-left: 0.24rem;
    margin-top: 0.24rem;

    height: 1.16rem;
    display: none;
  }
  .warmtoasttitle{
    font-family: PingFangSC-Regular;
    font-size: 0.20rem;
    color: #55CAC3;
    line-height: 0.40rem;
  }
  .warmtoastcontent{
    font-family: PingFangSC-Regular;
    font-size: 0.20rem;
    color: #999;
    line-height: 0.40rem;
  }


.footbutton {
  margin-top: 0.37rem;
  height: 0.78rem;
 

}
.subbutton{
  width: 3.7rem;
  height: 0.78rem;
  margin-left: 1.9rem;
  background: #52C9C2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.06rem;
  border: 0;
}
.wordstyle2{
  color:#FFFFFF;
  font-size: 0.3rem;
  line-height: 0.42rem;
  text-align: center;
  vertical-align: middle;
}
.divheight{
  /* background: #FFFFFF; */
  height: 0.47rem;
}

.alerttitle{
  font-size: 0.36rem;
  color: #444348;
  padding-top: 0.2rem;
  padding-bottom:0rem; 
  text-align: center;
  vertical-align: middle;
}
.alertcontent{
  font-size: 0.3rem;
  color: #999999;
}