
.normal {
    height: 100%;
    widows: 100%;
}
.heightdiv{
    height: 0.3rem;
    width: 7.5rem;
}
.textdiv{
    height: 0.2rem;
    width: 6.3rem;
}
.butttdiv{
    height: 0.6rem;
    width: 7.5rem;
}
.wrapdiv {
    width: 6.9rem;
    height: 9.7rem;
    margin-left: 0.3rem;
    background:#FFFFFF;
    border-radius: 0.08rem;
}
.inputword{
    width: 6.3rem;
    height: 9.1rem;
    margin-left: 0.3rem;
    border: 0rem;
    font-size: 0.3rem;
    line-height: 0.5rem;
    
}
.subbutton{
    width: 3.7rem;
    height: 0.78rem;
    margin-left: 1.9rem;
    background: #52C9C2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.06rem;
    border: 0rem;
}
.wordstyle2{
    color:#FFFFFF;
    font-size: 0.3rem;
    line-height: 0.42rem;
    text-align: center;
    vertical-align: middle;
}
.alerttitle{
    font-size: 0.36rem;
    color: #444348;
    padding-top: 0.2rem;
    padding-bottom:0.1rem; 
    text-align: center;
    vertical-align: middle;
}
.alertcontent{
    font-size: 0.3rem;
    color: #999999;
}
