.normal {}

.header {
    width: 7.5rem;
    height: 0.88rem;
    display: block;
    font-family: PingFangSC-Regular;
    font-size: 0.14px;
    background: #ffffff;
    display: flex;
    position: relative;
}

.headerrightimg {
    margin: auto 0 auto 0.3rem;
    display: inline-block;
}

.imgopinion {
    width: 0.32rem;
    height: 0.36rem;
    margin: auto;
}

.headertitle {
    margin: auto 0 auto 0.3rem;
    display: inline-block;
}

.title {
    color: #333333;
    line-height: 0.4rem;
    text-align: center;
    font-size: 0.28rem;
}

.headerleftimg {
    position: absolute;
    display: inline-block;
    top: 25%;
    right: 0.3rem;
}

.imgarrow {
    width: 0.38rem;
    height: 0.38rem;
}

.heightdiv {
    height: 2.3rem;
    width: 7.5rem;
}

.divsegmentingline {
    height: 0.01rem;
    background: #FFF;
    width: 7.5rem;
}

.segmentingline {
    height: 0.01rem;
    background: #eee;
    margin-left: 0.3rem;
    width: 7.2rem;
}