
.normal {
	position: relative;
}

.data_title{
	font-size: .36rem;
	color: #444348;
}
.data_tip{
	font-size: .22rem;
	color: #B2B2B2;
	position: absolute;
  right: .31rem
}
.data_date{
	font-size: .2rem;
	color: #52C9C2;
}
.classifycls{
	background-color: #fff;
	padding: 0.36rem 0.3rem 0.14rem;
}
/*tab*/
.bgColor{
	background: #fff;
	width: 100%;
}
.tabBox {
	margin:0 .3rem;
  	font-size: .3rem;
  	border-bottom: .01rem solid #eee;
  	height: 0.58rem;
  	box-sizing: border-box;
  	-webkit-box-sizing: border-box;
}

.tabBtn {
  display: inline-block;
  width: 1.4rem;
  height: 0.58rem;
  text-align: center;
  color: #999999;
  margin:0 .44rem;
  -webkit-box-sizing: border-box;
}
.sectedBtn{
  color:#52C9C2;
  border-bottom: .03rem solid #52C9C2;
  box-sizing: border-box;
}

.tabContent{
	display: flex;
	/*margin: 0.3rem 0.2rem;*/
	align-items:center;
	justify-content: center;
	background: #fff
}
.tabConBox{
	font-size: 0.22rem;
	margin: 0.26rem 0;
	height: 0.26rem;
	display: flex;
    justify-content: center;
}
.tabConTitle{
	color: #999;
	margin: 0 auto
}
.tabConTip{
	color: #999;
	margin: 0 .3rem;
}
.tabContentTxt{
	margin: 0 .2rem .3rem;
	background: #fff;
}
.myStyle{
	font-size:.26rem;
	color:#fff;
	width:3.2rem;
	height:.52rem;
	margin:0 auto;
}

.selectCls{
	position:absolute;
	right:.3rem;
	font-size:.26rem;
	 width: 1.88rem;
	 height:.56rem;
	 color:#fff;
	 background:#52C9C2;
	 border-radius: .08rem;
	 -moz-border-radius:.08rem;
	 -ms-border-radius:.08rem;
	 -o-border-radius:.08rem;

}
.selectInput{
	background:#52C9C2;
	width:1.04rem;
	border-radius: .08rem;
	-moz-border-radius:.08rem;
	-ms-border-radius:.08rem;
	-o-border-radius:.08rem;
}



