.imgStyle{
  display: inline-block;
  width: 28px;
  margin-bottom: 17px;
}
.deletWord{
  display: inline-block;
  font-size: 14px;
  color: #000;
  letter-spacing: 0;
}
.allWordTost{
  display: inline-block;
  font-size: 14px;
  color: #000;
  letter-spacing: 0;
  margin-bottom: 12px;
  width: 100%;
  text-align: left;
}
.m_ulStyle{
  width: 470px;
  text-align: left;
  margin-bottom: 0;
  border: 1px solid #E8E8E8;
}
.u_liStyle{
  display: inline-block;
  width: 234px;
  text-align: left;
  line-height: 32px;
  font-size: 12px;
}
.u_circleImg{
  width: 20px;
}
