.imgStyle{
  display: inline-block;
  width: 28px;
  margin-bottom: 17px;
}
.deletWord{
  display: inline-block;
  font-size: 14px;
  color: #000;
  letter-spacing: 0;
}
.allWordTost{
  display: inline-block;
  font-size: 14px;
  color: #000;
  letter-spacing: 0;
  margin-bottom: 12px;
  width: 100%;
  text-align: left;
}
.m_ulStyle{
  width: 470px;
  text-align: left;
  margin-bottom: 0;
  border: 1px solid #E8E8E8;
}
.u_liStyle{
  display: inline-block;
  width: 234px;
  text-align: left;
  line-height: 32px;
  font-size: 12px;
}
.u_circleImg{
  width: 20px;
}
.divContent{
  width: 280px;
  text-align: left
}


:global(.ant-checkbox-indeterminate .ant-checkbox-inner:after) {
  opacity: 0 !important;
}

.divContent :global(.ant-upload-list-picture-card .ant-upload-list-item){
  width: 84px !important;
  height: 84px !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}
.divContent :global(.ant-upload-list){
  position: relative !important;
  top: 0 !important;
  width: 84px !important;
  background: none !important;
}

.divContent :global(.ant-upload.ant-upload-select-picture-card),.divContent :global(.ant-upload) {
  vertical-align: inherit !important;
}

.divContent :global(.ant-upload.ant-upload-select-picture-card){
  border: none !important;
  width: 84px !important;
  height: 84px !important;
  border-radius: 0 !important;
  background-color: #fff !important;
}

.divContent :global(.ant-upload.ant-upload-select-picture-card  .ant-upload) {
  padding: 8px 0 !important;
}
