.imgStyle{
  display: inline-block;
  width: 28px;
  margin-bottom: 17px;
}
.deletWord{
  display: inline-block;
  font-size: 14px;
  color: #000;
  letter-spacing: 0;
}
.allWordTost{
  display: inline-block;
  font-size: 14px;
  color: #000;
  letter-spacing: 0;
  margin-bottom: 12px;
  width: 100%;
  text-align: left;
}
