
.normal {
	width: 6.9rem;
	height: 2.8rem;
	padding: 0.2rem 0.3rem 0.32rem;
	background-color: #fff
}
.perCenterImg{
	position: absolute;
	width: .96rem;
	height: .96rem;
	background: #fff;
	border-radius: 50%;
	top: 0.09rem;
    right: .3rem;
    box-shadow: 0 0 10px 2px rgba(202,202,202,0.50);
    display: flex;
    justify-content: center;
    align-items: center;
}
.perCenterImg img{
	width:.56rem;
	height: .56rem;
}