<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>小德</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="http://172.16.109.87:20082/PMsdk_style.css">
  <script type="text/javascript" src="https://s5.cnzz.com/z_stat.php?id=1277653889&web_id=1277653889"></script>
  <style>
    body>a {
      position: absolute;
      color: transparent;
    }
  </style>
  <!--&lt;!&ndash; GrowingIO Analytics code version 2.1 &ndash;&gt;-->

  <!--<script type='text/javascript'>-->
    <!--!function(e,t,n,g,i){e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},n=t.createElement("script"),tag=t.getElementsByTagName("script")[0],n.async=1,n.src=('https:'==document.location.protocol?'https://':'http://')+g,tag.parentNode.insertBefore(n,tag)}(window,document,"script","assets.growingio.com/2.1/gio.js","gio");-->
    <!--gio('init','ad1af5408f920689', {});-->

    <!--//custom page code begin here-->
    <!--gio('config', {'hashtag':true});-->
    <!--//custom page code end here-->

    <!--gio('send');-->

  <!--</script>-->

  <!--&lt;!&ndash; End GrowingIO Analytics code version: 2.1 &ndash;&gt;-->
</head>

<body>
  <div id="root"></div>
</body>
<script src="http://172.16.109.87:20082/post_message_sdk.js"></script>
<script>
    function PM_getUserId() {
      return JSON.parse(localStorage.getItem('admin_user')).userId;
    }
    let PM_list_name = [];
    PMsdk({
      getUserIdentity: PM_getUserId,
      pathnameList: PM_list_name,
      listFlag: 'black',
      clickMiniCallback: function () {
                      const { BI = {} } = window;
                      BI.traceV &&  BI.traceV({"widgetName":"用户反馈入口","traceName":"用户反馈入口"});
                },
                clickNormalCallback: function () {
                const { BI = {} } = window;
                        BI.traceV &&  BI.traceV({"widgetName":"用户反馈入口","traceName":"用户反馈入口"});
                }
    });
</script>
</html>
