<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>小德</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <!-- GrowingIO Analytics code version 2.1 -->

  <script type='text/javascript'>
    !function(e,t,n,g,i){e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},n=t.createElement("script"),tag=t.getElementsByTagName("script")[0],n.async=1,n.src=('https:'==document.location.protocol?'https://':'http://')+g,tag.parentNode.insertBefore(n,tag)}(window,document,"script","assets.growingio.com/2.1/gio.js","gio");
    gio('init','ad1af5408f920689', {});

    //custom page code begin here
    gio('config', {'hashtag':true});
    //custom page code end here

    gio('send');

  </script>

  <!-- End GrowingIO Analytics code version: 2.1 -->
</head>

<body>
  <div id="root"></div>
</body>

</html>
