.normal{
  width: 100%;
  height: 100%;
  background: #fff;
}

.title{
  height: 64px;
  line-height: 64px;
  font-size: 18px;
  color: #353535;
  border-bottom: 1px solid #EBECEF;
}
.title:before{
  content:'';
  display: inline-block;
  width: 2px;
  height: 12px;
  background: #52C9C2;
  margin:0 6px 0 22px ;
}
.content{
  margin-top: 30px;
  padding: 0 30px;
}

.stepsAction {
  text-align: center;
  padding: 30px;
}

:global(.ant-steps){
  width: 760px!important;
  margin: 0 auto;
}
:global(.ant-steps-item-finish > .ant-steps-item-tail:after),:global(.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot),:global(.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot){
  background: #52C9C2!important;
}
:global(.ant-steps-item-wait > .ant-steps-item-tail:after),:global(.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot){
  background: #e6e7eb!important;
}
:global(.ant-steps-item-wait > .ant-steps-item-content > .ant-steps-item-title){
  color: #CED0D7;
}
:global(.ant-steps-item-process .ant-steps-item-title){
  font-weight: 400;
}
:global(.ant-steps-item-title){
  font-size: 14px!important;
}
:global(.ant-steps-dot .ant-steps-item-process .ant-steps-item-icon){
  width: 14px!important;
  height: 14px!important;
  line-height: 14px!important;
}
:global(.ant-steps-dot .ant-steps-item-process .ant-steps-item-icon .ant-steps-icon-dot){
  left: -2px;
  top: -2px!important;
}
:global(.ant-btn){
  border: 1px solid #d9d9d9;
}
:global(.anticon-spin:before){
  color: #fff!important;
  margin-left: 8px!important;
}
:global(.ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only) .anticon){
  margin-left: -25px!important;
}

.submitButton{
  margin: 0 10px;
  background-color: #52C9C2;
  font-size: 14px;
  width: 80px;
  height: 32px;
}
.submitButton:hover{
  background-color: #52C9C2;
  border-color: #52C9C2;
}
.submitButton:focus{
  background-color: #52C9C2;
  border-color: #52C9C2;
}
