
.normal {
}

.arrow{
	position: absolute;
	right: .4rem;
	width: .18rem;
	height: .1rem;
	display: inline-block;
}
.arrow1 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.mylist{
	width: 6.98rem;
	/*height: 2.94rem;*/
	margin-left: .26rem;
	padding-bottom: .33rem
}
.ulCss{
	width: 6.56rem;
	/*height:2.6rem;*/
	background-color: #fff;
    box-sizing: border-box;
	margin: 0 .22rem;
	border: 1px solid #EBEBEB;
	border-radius: .04rem;
	overflow: hidden;
}
.ulCss li{
    box-sizing: border-box;
	height: .65rem;
	display: flex;
	align-items: center;
	font-size:.18rem;
	border-bottom: 1px solid #f7f2f2;
}
.ulCss li span{
	display: flex;
    border: 1px solid #f7f2f2;
    border-width: 0 1px 0 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.row1{
	width: 2.56rem;
}
.row2{
	width: 1.98rem;
}
.row3{
	width: 1.98rem;
	font-size: .22rem;
}
.trCls{
	border: 1px solid #f7f2f2;
	border-width: 0 1px 0 0;
}
.ulCss li span:last-child,.ulCss li:last-child{
	border-width: 0 
}
.circleG{
	width:.1rem;
    display: inline-block;
    height: .1rem;
    border-radius: 50%;
    background: #7ED321;
    position: relative;
    right: -.1rem;
    top: -.02rem;
}
.circleY{
	width: .1rem;
    display: inline-block;
    height: .1rem;
    border-radius: 50%;
    background: #FFE000;
    position: relative;
    right: -.1rem;
    top: -.02rem;
}
.circleR{
	width: .1rem;
    display: inline-block;
    height: .1rem;
    border-radius: 50%;
    background: #FF5959;
    position: relative;
    right: -.1rem;
    top: -.02rem;
}
.seeAllCls{
	width: 7.5rem;
	height: .33rem;
	font-size: .24rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #52C9C2;
	background: #fff;
	padding-top: .19rem;
	padding-bottom: .57rem;
}
