.coeffiDiv{
  height: 20px;
  margin-left: 30px;
  margin-bottom: 18px;
}
.firstCoeSpan{
  font-size: 14px;
  color: #000;
  letter-spacing: 0;
  margin-right:10px ;
  display: inline-block;
  width:40px;
}
.xSpin{
  font-size: 14px;
  color: #000;
  letter-spacing: 0;
  margin: 0 60px;
}
.basicSpan{
  margin-left: 200px;
  font-size: 14px;
  color: #000;
  letter-spacing: 0;
}
.word{
  font-size: 14px;
  color: #000;
  letter-spacing: 0;
}
.groupSpan{
  font-size: 14px;
  color: #000;
  letter-spacing: 0;
  margin: 10px 30px;
  display: inline-block;
  height: 20px;
}
.groupSpan1{
  font-size: 14px;
  color: #000;
  letter-spacing: 0;
  margin: 10px 0 10px 120px;
  display: inline-block;
  height: 20px;
}
.groupSpan2{
  font-size: 14px;
  color: #000;
  letter-spacing: 0;
  margin: 10px 0 10px 210px;
  display: inline-block;
  height: 20px;
}

.checkBoxCls{
  width: 12px;
  height: 12px;

  :global(.ant-checkbox-inner) {
    width: 12px !important;
    height: 12px !important;

  }

  :global(.ant-checkbox-inner:after) {
    left: 3.9px!important;
    top: 1.5px!important;
    width: 4.71428571px !important;
    height: 7.14285714px !important;
  }

  :global(.ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner:after) {
    border-color: #fff !important;
  }


}

